{% extends "basic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/tasks.css' %}" rel="stylesheet" type="text/css">
<!--<script defer src="https://pyscript.net/alpha/pyscript.js"></script>-->
{% endblock %}

{% block title %} ToDoDoDoo | My tasks {% endblock %}

{% block content %}
<header>
    <h1 class="header-label">My tasks</h1>
    <a class="logout" href="logout/">Logout</a>
</header>
<main>
    {% for date, tasks in tasks_dir.items %}
    <section class="date-block">
        <h2 class="date-head">{{ date }}</h2>
        {% for task in tasks %}
        <a class="task" href="task/{{ task.0 }}">
            <h2>{{ task.1 }}</h2>
            <h3>Description:</h3>
            <p>{{ task.2 }}</p>
            {% if task.3 %}
            <h4 class="task-good">Task is completed</h4>
            {% else %}
            <h4 class="task-danger">Task is not completed</h4>
            {% endif %}
        </a>
        {% endfor %}
    </section>

    {% endfor %}
</main>
{% endblock %}