{% extends "basic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
<!--<script defer src="https://pyscript.net/alpha/pyscript.js"></script>-->
{% endblock %}

{% block title %} Welcome to To-Do-Do-Doo {% endblock %}

{% block content %}
<header>
    <a class="first" href="register/">
        <div>Register</div>
    </a>
    <a href="login/">
        <div>Sign in</div>
    </a>
</header>
<main>
    <!--<h1><py-script> print("python is here")</py-script></h1>-->
    <section class="main-block">
        <section class="text-section">
            <div class="dark-blue">
                <b>To do or </b>
            </div>
            <div class="dark-blue">
                <b>not to do?</b>
            </div>

        </section>
    </section>
    <section class="main-block">
        <img src="{% static 'img/planning-image.jpg' %}" class="image">
    </section>
</main>
{% endblock %}